body{
    background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxETBhASEhMSERIXEhITFhYWFxMSExYYFxIYGhgWFRMdHCggJCAlGxMWITMiJTUtMC4uFx8zODMtNzQtLisBCgoKDQ0OFw8NFy0fHR0tOC03Lis1Ky0tKy0tNC0rKysrLTA3LSsuKy0wKzgyOCsrLSsrLisrLi0tLS0rKysrK//AABEIAUsAmAMBIgACEQEDEQH/xAAbAAEBAQEBAQEBAAAAAAAAAAAAAwQCAQUHBv/EADkQAAICAAMECAMGBQUAAAAAAAABAhEDITEEEkFREyJhcYGRobEy0fAUQlJyksEFI2KC4SSy0uLx/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAECAwT/xAAbEQEBAQACAwAAAAAAAAAAAAAAARECISIxQf/aAAwDAQACEQMRAD8A/bgAeVoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOMbFUcNt6evcjt6GSL6Tab+7DTVXPjl2L3KKLFxHpBJf1Sp+STOliOs4vwal/n0KAo8hNONpprsOiGNh570WlL0lyUvmd4OMpRfBp009UyCgAIAAAAAAAAAJwxouVLt7nWtMoAAAAljbTGMqbz5K2/JHm1YjUUo/FJ7q7Ms34I9wMCMVks+LebfeyiTniSVRj0a/FKt7wj8y2DhKOGorRfVs7JSjL7RFp9WmmvZooqAR2qbUFX9T8otr1oD52140pzlFXWbVc18PnuSfii2y7Taw53nfRz4Xfwvz9z5WFax0m8srz1VXXlkbdklWFKNVUsLszUoJ2u9+jA+0ADIAAAAABknOT2qSUnBRS4J3fHNaZUazJtcE8eGbTadtNq0vu+b9ykZIze/0bve6Ru1lcXbbvxaNmyYkelkotUkqXC7d16GHaNkvaIreebbp5tJLW/I2bKpNreSW43po8qVLudlarYADLLO89u/LD/dL/AKlz5+JtKjjxxG0k96FcaUvi8/c+hFpq1mjQAAAQ2uNxj3tfqi17tFZTW9Wr7OHazjaJLcqrbyS0v/zmB/OShu7RU8qa3q+vqz6f8PwerFVTe7N86TbTfe68EbPs8t5N9G5V8Tj1vcvhYSiuLb1b1ZB2ACAAAAAAHGJhqSV8HaptNeJ05KyfTq/7t1dvP2fkNgltGAt6Mk2qtNqnk+d8qXqXw4Unxt2MadYbfHRd7yXqxg4e7hKPJUUdgAgyz/h8HiW7atvdvq29cjv7LFPq3D8raXloXBRLoFxc3/dJezOZ7LFrWf65/MuZtoe9idGtKub7Pw+PsBLYsasD4Z1bae7quDdcaK7JJSnOf9W6ryySWVd9mhLIjhZbRJfi668kmvRPxLRcAGQAAAAAAABn2xLqy+8nlzaeqru9jiWFkqdNSck9c3d5cs2dYifSN1nlFdi4v38kevES1aWdZ5cP8nDnfLpqenO9KUNYNZfdfB/m5orgYjbknVqtNHejIylklCs03azSS1a8WaMHDSjxd5tvVnTheV7qXHYANoAADyTqLZDYo/yN56y678dF4KkWxI3htc015kdhnezpaOPUa5OOX7Fg7k/58V2Sfsl7szbdjbu0YT4W78aXzNCf+rf5I14SlfujPtz3sNRWjTk3o1uvl35FG4E8LGTgnazS9UUMgAAAPJN3kvkQW0rpGndaWk6vigNAJR2mLnSdtZvku9jE2iKdXb4JZvyQFTxRVvt+v2Iz2hPBk4u3TeXDLjyfeRw3F6aV+Ftvt7PHUlt+QeSVQcld9fRpZOX0zTskGsBJ8Mtb9TC4brUknGKzae889ba0+ka8Lak455dbd5cLROMzVrQCEtqj0tWsk3J8vr9u4R2i4uSjJxWmSt9qV2bRc8ckmu10vK/2M62hvHSqlld/Fnwrhlmczc/tOnZFrNRjxk3pbyy7PMNZHE2dOe8rjLmsn48H4mbevBjJ3JydQipOKX5nxyWdnX2Rv8MexJvzd5jB11Z7PhOatvdpq002ryazWgxNmioxilSlKpa2+rJ5y11R1HZ5XC5Ldi7SUa0TSzvtK4uHaVOmna48Gs13NlEsLClHB3GozilS4Wu1VRXBg1q21wWteNEMXat2UXLqpNxnxStXF3yy9SmzzblLik93vaSv1sguACAAABzHDSbpJW7dLXvOgAayAAHMsNOabVtacvIOCp5LPXLXvOgBxHCipNpJN1fbR2AB5ureulel8T0ACGJskW7XVldpxyd92h5uYi+9B98Wn6M0AohFYu6s4d9M9rE5w/TL/kWA0Tw8LNuT3m64UqWirxfme4OGo4aitFz172dgAACAAAAAAAAAAAAAAAAAAAAAAAAAAAP/2Q==) ;
    color: #d8a958;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;


}
h1{
    color: rgb(168, 89, 52);
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

h3{
    color: peru;
    text-align: center;
}

marquee{
    color: sienna;
}
ul{
    color: sandybrown;
}
a{
    color: chocolate;
}
p{
    color: #d8a958;
}

th{
    color: #632704;
}

img{
   width: 150px;
}
table{
    margin-left: auto;
    margin-right: auto;
}