body{
    background-color: rgb(243, 212, 226);
    color: rgb(255, 115, 194);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
}

h1{
    color: rgb(199, 54, 120);
    text-align: center;
    font-family: ;
}

h3{
    color: rgb(219, 112, 155);
    text-align: center;
}

marquee{
    color: rgb(255, 93, 206);
}

ul{
    color: rgb(245, 29, 148);
}

a{
    color: rgb(255, 94, 212);
}